
button {

    font-size: 20px;
    color: rgb(243, 242, 244);
    background-color: rgb(7, 7, 245);
    border: 50px solid rgb(17, 17, 19);
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 100px;

}





p {
  
    /* height: 500px;
    width: 500px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(58, 42, 165);

    background-color: chartreuse;

    border: 1px solid rgb(228, 197, 74);
    border-radius: 500px;
    text-align: center; */

}

/* .Ajay{
color:red
}
.Abhishek{
    color:blue
}  */