p {
    color: blueviolet;
    font-size: xx-large;
    font-weight: 600;
    font-style: italic;
    text-decoration: overline;
    background-color: aquamarine;
    /* letter-spacing: 10px; */
    /* word-spacing: 20px; */

    font-family: 'Gill sans', 'Gill sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#para1{
    Color:red;
}