#navbar {

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: #fbf7f7;
    position: fixed;
    top: 0%;
    z-index: 110;
}

#navbar nav ul {

    display: flex;
    gap: 25px;
    align-items: center;
    list-style: none;
}

#navbar nav ul li a {

    text-decoration: none;
    color: rgba(1, 6, 12, 0.804);
    text-transform: none;
    font-style: normal;
}

#navbar nav ul li a:hover {

    color: rgba(48, 236, 123, 0.867);
    font-size: 18px;
}

#navbar .icon {

    display: flex;
    gap: 10px;
}

#Firstpage {

    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Firstpage h1 {

    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1;
    text-align: center;
    padding-top: 50px;
}


#Firstpage h2 {

    font-size: 100px;
    color: rgba(48, 236, 123, 0.867);
    text-shadow: 1px 1px 2px white;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 2px;
    margin: 30px;
    padding-bottom: 2px;
    padding-top: 2px;
}

#Firstpage p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 0px;
}

#healthbox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-bottom: 70px;
}

.box {

    width: 350px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: px solid black;
    border-radius: 18px;
    color: rgb(243, 242, 244);
    background-color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 1px;
    margin-top: 1px;

}

.logo {

    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 32px;
}

#Second-page {

    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 45px;

}

#Second-page h1 {

    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#Second-page .secbox {

    width: 75%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 0px solid rgb(252, 255, 254);
    border-radius: 50px;
    color: rgb(12, 12, 12);
    background-color: rgb(236, 245, 245);
    padding-top: 5px;
    padding-bottom: 0px;

}

#Doublebox {
    display: flex;
    justify-content: center;
    align-items: center;
}


#Third-page {

    width: 100%;
    height: 70%;
    display: flexbox;
    flex-direction: column;
    justify-content: right;
    align-items: first baseline;
    border-radius: 45px;
    padding-top: 45px;
    padding-bottom: 45px;

}

.thirdbox {
    width: 85%;
    gap: 20px;
    display: center;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 245, 245);
    border: 0px solid rgb(252, 255, 254);
    border-radius: 45px;
    padding-top: 25px;
    padding-right: 40px;

}

.thirdbox h2 {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.thirdbox2 {

    display: flex;
    justify-content: center;
    text-align: center;
}

#Fourth-page {

    height: 70%;
    width: 100%;
    display: flexbox;
    flex-direction: column;
    justify-content: right;
    align-items: first baseline;
    border-radius: 45px;
    padding-top: 45px;
    padding-bottom: 45px;

}

.Frbox {
    width: 85;
    gap: 20px;
    display: center;
    flex-direction: center;
    justify-content: right;
    align-items: center;
    background-color: rgb(236, 245, 245);
    border: 0px solid rgb(252, 255, 254);
    border-radius: 45px;
    padding-top: 25px;

}

.Frbox h2 {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;

}

.Frbox2 {

    display: flex;
    justify-content: center;
    text-align: center;
}

#Fifth-page {

    width: 45%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 40px;
}

.fifbox2 {

    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: rgb(243, 242, 244);
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: larger;

}

#Six-page {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    padding-top: 60px;
    padding-bottom: 60px;

}

.sixbox {

    width: 78%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid rgb(252, 255, 254);
    border-radius: 50px;
    color: rgb(240, 239, 239);
    background-color: rgba(23, 25, 33, 0.993);
}


.sixbox2 h1 {

    display: flex;
    justify-content: flex-start align-items:baseline;
    color: rgba(48, 236, 123, 0.867);
    font-size: 90px;

}

.sixbox2 h2 {

    display: flex;
    justify-content: flex-start;
    align-items: first baseline;
    font-size: 35px;

}

.sixbox2 p {

    display: flex;
    justify-content: flex-start;
    align-items: first baseline;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(188, 179, 179);
    padding-bottom: 20px;
}

.sixbox3 {

    width: 25%;
    height: 30px;
    display: flex;
    font-size: 15px;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(253, 248, 248);
    padding-top: 8px;
    padding-bottom: 8px;
    color: black;
    font-style: normal;
}

#Seventh-page {

    width: 45%;
    height: 30vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 40px;
}

.sevbox {

    display: flex;
    justify-content: center;
    align-items: center;

}

.sevbox1 {

    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: rgb(243, 242, 244);
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: larger;

} 
.sevbox2 {

    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: rgb(243, 242, 244);
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: larger;

}





/* @media (max-width:430px) {

    #navbar {

        background-color: darkgoldenrod;
    }
} */